.App {
  text-align: center;
}

.click-btn {
  margin: 5px;
}

.click-btn.up:after {
  content: " \25B2";
}

.click-btn.down:after {
  content: " \25BC";
}

.click-btn:active {
  transform: translateY(2px);
  outline: none;
}

.click-btn:focus {
  outline: none;
}

.type-btn {
  margin: 4px;
}

.type,
.counter,
.renders {
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 4px;
}
